<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form 1</title>
</head>
<body>
    <h1>Midterm Survey</h1>

    <form method="post" action="#">
        <label for="name">Name
            <input type="text" id="name" name="name" value="{{@name}}">
        </label>
        <br>
        <p>Check all that apply</p>
        <br>
        <repeat group="{{ @options }}" value="{{ @option }}">
            <input type="checkbox" name="options[]" value="{{@option}}">
                 <check if="{{ !empty(@option) && in_array(@options, @option) }}">
                    checked="checked"
                 </check>{{ @option }}<br>
        </repeat>
        <input type="submit" value="Submit">
    </form>
</body>
</html>