<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form 1</title>
</head>
<body>
    <h1>Midterm Survey</h1>
    <div id="form">
        <form method="post" action="#">
            <label for="name">Name
                <input type="text" id="name" name="name" value="{{@name}}">
            </label><br>
            <p>Check all that apply</p><br>
            <div id="options">
                <input type="checkbox" name="options[]" value="option1"> Option1
                <input type="checkbox" name="options[]" value="option2">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>